<ion-header>
  <ion-navbar>
    <ion-title>video</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
         <ion-list *ngIf="videos.length != 0">
           <ion-item *ngFor="let video of videos" class="item item-trns">
              <div class="title">
                  {{video.title}}
                  <div class="video-container">
                      <iframe [src]="openVideo(video.key)" frameborder="0"></iframe>
                  </div>
                  <ion-icon name="videocam" item-start> {{video.name}}</ion-icon>
                 </div>
           </ion-item>
         </ion-list>
       
</ion-content>